@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body, html {
    height: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    background-color: black;
    font-family: 'Fira Code';
    font-size: 32px;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px ;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.logo {
    max-width: 400px;
    width: 100%;
    height: auto;
    border: none;
    margin-top: 10px;
}

#footer-logo {
    max-width: 200px;
    width: 100%;
    height: auto;
    border: none;
}

#logo_link {
    width: 100%; 
    height: auto; 
    display: flex;
    align-items: center;
}

.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.main-content {
    margin: 2em 4em 2em; 
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    white-space: nowrap;
    padding: .5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    text-align: center;
}

#art-example {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    text-align: center; 
}

.art-container {
    text-align: center; 
}

.example-caption {
    margin-top: 10px; 
}

.mastery-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #19AFFF;
}

.art-example {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: .5vh solid #19AFFF;
}

.tutorial-example {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: .5vh solid #19AFFF;

}

.puzzle-example {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.image-with-text {
    display: flex;
    align-items: center;
}

.image-stack {
    display: flex;
    flex-direction: column;
}

.text-content {
    margin-left: 25px; 
}

.puzzle-parts {
    width: 30vh;
}

.red-peak{
    color: red;
}
.blue-peak{
    color: blue;
}
.yellow-peak{
    color: yellow;
}
.green-peak{
    color: #00FF00;
}

h1{
    font-weight: lighter;
}

h1, p {
    color: white;
}

.bracket {
  color: #FFD700;
}

.bracketed-text {
  color: #9CDCFE;
}

.layer-name {
    color:#F07F3C;
}
.body-text, .example-caption {
    color: #9CDCFE;
}

.comment-text {
    color: #006D38;
}

.comment-link {
    color: #009A0F;
    text-decoration: none;
}

.in-text-link {
    color: #19AFFF;
    text-decoration: none;
}

.plan-link {
    color: #006D38;
    text-decoration: none;
}

.in-text-link:hover, .plan-link:hover, nav a:hover, .comment-link:hover{
    font-weight: bold;
}

.example{
    width: 350px;
}

.flower-pot-fix{ 
    width:200px;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding: 20px;
    width: 95%;
}

/* This css is only for the flower pot */

.flower-pot {
    position: relative;
    background: transparent;
    width: 950px;
    height: 1700px;
    border: 25px solid #19AFFF;

}

.stems, .leaves, .flowers, .pot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}

.stem-1, .stem-2, .stem-3, .stem-4, .stem-5 {
    position: absolute;
    right: 46.5%; 
    width: 20px;
    height: 430px;
    background: #009A60;
    transform-origin: bottom center; 
}

.stem-1 {
    top: 40%; 
    transform: rotate(-43deg);
}

.stem-2 {
    top: 25%; 
    transform: rotate(-27deg);
}

.stem-3 {
    top: 25%; 
    transform: rotate(6deg);
}

.stem-4 {
    top: 30%; 
    transform: rotate(35deg);
}

.stem-5 {
    top: 50%; 
}

.leaf-1, .leaf-2 {
    position: absolute;
    background: #009A60;
    border-radius: 50%;
    width: 100px;
    height: 300px;
    transform-origin: bottom center; 
}

.leaf-1 {
    top: 46%; 
    right: 42%;
    transform: rotate(45deg);
}

.leaf-2 {
    top: 55%; 
    right: 42%;
    transform: rotate(-60deg);
}

.flower1, .flower2, .flower3, .flower4 {
    position: absolute;
}

.flower1 {
    top: 40%; 
    right: 55%; 
}

.flower2 {
    top: 30%; 
    right: 5%; 
}

.flower3 {
    top: 22%; 
    right: 47%; 
}

.flower4 {
    top: 15%; 
    right: 22%; 
}

.petal {
    position: relative;
    width: 240px; 
    height: 240px; 
}

.petal-1, .petal-2, .petal-3, .petal-4 {
    position: absolute;
    background: #D8214D;
    border-radius: 50%;
    width: 90px;
    height: 240px;
}

.petal-2 {
    transform: rotate(90deg);
}

.petal-3 {
    transform: rotate(-45deg);
}

.petal-4 {
    transform: rotate(45deg);
}

.petal-a {
    position: relative;
    top: 50%; 
    left: 40%; 
    transform: translate(-50%, -50%); 
    width: 160px; 
    height: 160px; 
}

.petal-a1, .petal-a2, .petal-a3, .petal-a4 {
    position: absolute;
    background: #FF3B61;
    border-radius: 50%;
    width: 60px;
    height: 160px;
}

.petal-a2 {
    transform: rotate(90deg);
}

.petal-a3 {
    transform: rotate(-45deg);
}

.petal-a4 {
    transform: rotate(45deg);
}

.pistil {
    position: relative;
    top: 35%; 
    left: 3%;
    background: #FFDE59;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.rectangle-1, .rectangle-2 {
    position: absolute;
    right: 38.2%; 
    background: #5D7772;
    width: 180px;
    height: 90px;
}

.rectangle-1 {
    top: 94.7%; 
}

.rectangle-2 {
    top: 74.5%; 
}

.oval {
    position: absolute;
    border-radius: 50%;
    top: 74.7%; 
    right: 33%;
    background: #5D7772;
    width: 280px;
    height: 430px; 
}

/* This CSS is only for the sunset */

.mt-sunset {
    position: relative;
    background-color: transparent;
    width: 480px; 
    height: 240px;
    border: 10px solid #19AFFF;
    transform-origin: top left;
}

.sunset1 {
    width: 480px; 
    height: 240px;
    border-radius: 240px 240px 0 0;
    background-color: #E61A23;
}

.sunset2 {
    position: absolute;
    top: 62.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px; 
    height: 180px;
    border-radius: 180px 180px 0 0;
    background-color: #ED7622;
}

.sunset3 {
    position: absolute;
    top: 66.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;  
    height: 120px;
    border-radius: 120px 120px 0 0;
    background-color: #F7B618;
}

.mountain {
    position: absolute;
    top: 41.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-left: 135px solid transparent;
    border-right: 135px solid transparent; 
    border-bottom: 140px solid #213851;
}

.snowy-peak {
    position: absolute;
    transform: translate(-50%, 0%);
    width: 270px;
    height: 140px;
    /* background-color: aqua; */
}

.peak1, .peak2, .peak3, .peak4 {
    position: absolute;
    width: 0;
    height: 0;
}

.peak1 {
    top: 30%; 
    left: 37%; 
    border-left: 10.3px solid transparent;
    border-right: 10.3px solid transparent;
    border-bottom: 111.5px solid white;
    transform: translate(-50%, -50%) rotate(-131.5deg); 
}

.peak2 {
    top: 23%; 
    left: 47%; 
    border-left: 14.5px solid transparent;
    border-right: 14.5px solid transparent;
    border-bottom: 58.1px solid white;
    transform: translate(-50%, -50%) rotate(49.3deg);
}

.peak3 {
    top: 23%; 
    left: 52%; 
    border-left: 15.05px solid transparent;
    border-right: 15.05px solid transparent;
    border-bottom: 19.8px solid white;
    transform: translate(-50%, -50%) rotate(162.6deg);
}

.peak4 {
    top: 24%; 
    left: 60.2%; 
    border-left: 8.3px solid transparent;
    border-right: 8.3px solid transparent;
    border-bottom: 90px solid white;
    transform: translate(-50%, -50%) rotate(131.5deg);
}
